extends main

block general
    //Region select modal
    .w3-modal#modal
        .w3-modal-content
            #world-map(style='width: 900px; height: 600px')

    include modal

    //Params bar
    #leftSidebar.w3-sidebar.w3-bar-block.w3-card.w3-animate-left
        button.w3-bar-item.w3-button.w3-xlarge(onclick='w3_close_left()') Close ×
        #leftWrapper

    //Content window
    #main
        #topBarWrapper
            #flexTopWrapper
                button#openNav.w3-button.w3-xlarge.w3-bar-item(onclick='w3_open_left()') ☰
                script(src='/javascripts/layout.js')

                block topbar

                button#openForm.w3-button(onclick="usermodal_open()") Ух, ща я гриб-то вам придумаю
                #regionWrap
                    button#openMap.params.w3-button Select region
                    button#resetRegion.w3-button &times
                    input#region(type="hidden")
        #content
            block content