.w3-modal#usertrash_modal
    .w3-modal-content.correct-modal
        header.w3-container.w3-border
            .w3-row
                h2.w3-col.s11 Mushroom's correction
                span.w3-button.w3-col.s1(onclick='usermodal_close()' style="font-size: 25px") &times;
        .w3-container
            img#userimg(src="#")
            input.w3-input.w3-border#imgInput(type="file" name="img" accept="image/jpeg,image/png" value="" placeholder="Image" style="margin-top: 10px;")
            form#modalForm(method="post")
                input.w3-input.w3-border.modalParams(type="text" name="name" placeholder="Name of mushroom" style="margin-top: 10px;")
                input.w3-input.w3-border.modalParams(type="text" name="description" placeholder="Description" style="margin: 10px 0px;")
                input.w3-input.w3-border.modalParams(type="text" name="region" placeholder="Region" style="margin: 10px 0px;")
                //.modalParam - is modal params, hehm
                #userWrapper

            button.w3-button.w3-black#black(onclick="black()" style="margin: 20px 0px;") Enter
            button.w3-button.w3-red#red(onclick="red()" style="margin: 20px 0px;") Dismiss
    script(src="/javascripts/modal.js")