extends main
block general
    #upWrap
        script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
        script(src='/javascripts/statistics.js')
        #statisticsSidebar.w3-sidebar.w3-bar-block.w3-card.w3-animate-left(style="display: none;")
            button.w3-bar-item.w3-button.w3-xlarge(onclick='statistics_sidebar_close()') Close ×
            #sidebarContent

        .container-fluid
            .row
                #title
                    button#openStatisticsSidebar.w3-button.w3-xlarge.w3-left(onclick='statistics_sidebar_open()') ☰
                    h1 asdasdasd
            .row
                #numbers
                    h1 numbers
            .row
                .col-md-6
                    #left
                        h4 circle one
                        canvas#paramCanvas
                .col-md-6
                    #rightUp
                        h4 circle two
                        canvas#regionCanvas
                    #rightDown
                        h4 circle three
                        canvas#edibleCanvas

