extends main
block general
    #upWrap
        script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
        script(src='/javascripts/statistics.js')
        #title
            h1 asdasdasd
        #numbers
        #left
            canvas#paramCanvas
        #rightUp
            canvas#regionCanvas
        #rightDown
            canvas#edibleCanvas

